body {
  font-family: 'Muli', sans-serif !important;
  @for $i from 1 through 20 {
    @media (min-width: #{6.25 * $i}em) {
      font-size: #{15 + $i}px;
    }
  }
}

.navbar {
  background-color: #14233c;
  border-bottom: solid 1px rgb(255, 72, 48) !important;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #14233c !important;
}

.bg-black {
  background-color: #14233c !important;
}

.rounded-pill {
  border-radius: 5rem;
  border: solid 1px rgb(255, 72, 48) !important;
}

header.masthead {
  /*   position: relative;
      overflow: hidden;
      padding-top: calc(7rem + 72px);
      padding-bottom: 7rem;
      background: linear-gradient(0deg, $secondary 0%, $primary 100%);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      background-size: cover; */
  background: linear-gradient(to top, hsla(249, 96%, 45%, 0.226), #14233c), url('../images/memphis.jpg');
  background-position: center center;
  padding-top: 3rem;
  background-repeat: repeat;
  position: relative;
  color: white;
  min-height: 50vh;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      font-size: 4rem;
    }
    .masthead-subheading {
      font-size: 2rem;
    }
  }
/*   .bg-circle {
    z-index: 0;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, $primary 0%, $secondary 100%);
  }
    .bg-circle-1 {
        height: 90rem;
        width: 90rem;
        bottom: -55rem;
        left: -55rem;
        background-color: yellow !important;
      }
      .bg-circle-2 {
        height: 50rem;
        width: 50rem;
        top: -25rem;
        right: -25rem;
      }
      .bg-circle-3 {
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;
      }
      .bg-circle-4 {
        height: 30rem;
        width: 30rem;
        top: -5rem;
        right: 35%;
      } */
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;
    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }
      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
}

body .popover {
  max-width: 300px;
  max-height: 300px;
}


.main-wrapper {
	width: 68.75%;
	margin: 0 auto;
	@include media-breakpoint-up(xl) {
		width: 80%;
	}
	@include media-breakpoint-down(lg) {
		width: 90%;
	}
	@include media-breakpoint-down(sm) {
		width: 97%;
	}
}

.featured-area {
	background: white;
	padding: 0 0 120px 0;
	.single-feature {
    img{
      @media(max-width: 768px){
        max-width: 200px;
        padding: 3px;
      }
      padding: 15px;
      border: 1px solid #14233c;
      box-shadow: 0px 3px 10px 1.5px #d15343;
    }
    th{
      padding-right: 7rem;
    }
		margin-top: 30px;
		padding: 80px 50px;
		@include media-breakpoint-down (md) {
			padding: 50px 15px;
		}
		border-radius: 13px;
		/* border: 1px solid #14233c; */
		@include transition();
		span {
			/* font-size: 36px; */
			font-weight: 600;
			@include transition();
		}
		h3 {
			font-weight: 600;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		p {
      margin-bottom: 40px;
      font-size: 1.4rem;
		}
		a {
			font-weight: 500;
			color: white;
		}
		&:hover {
			border: 1px solid #d15343;
			box-shadow: 0px 20px 48.5px 1.5px #14233c;
			span {
				color: black;
			}
    }
	}
}

#section-title{
  color: white;
  background: linear-gradient(to top, hsla(249, 96%, 45%, 0.226), #14233c), url('../images/memphis.jpg');
  background-position: center center;
  border-top: 2px solid #d15343;
  border-bottom: 2px solid #d15343;
  h1{
    font-size: 60px !important;
  }
}
